<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="www.hw.top.dao.TeacherDao" >
  <resultMap id="BaseResultMap" type="www.hw.top.pojo.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />

    <result column="t_name" property="tName" jdbcType= "VARCHAR"/>
    <result column="t_username" property="tUsername" jdbcType= "VARCHAR"/>
    <result column="t_password" property="tPassword" jdbcType= "VARCHAR"/>
    <result column="t_sex" property="tSex" jdbcType= "VARCHAR"/>
    <result column="t_telephone" property="tTelephone" jdbcType= "VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    	id
    	,t_name
    	,t_username
    	,t_password
    	,t_sex
    	,t_telephone
  </sql>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER};
  </select>
   <select id="getCount" resultType="java.lang.Integer" >
    select count(id) from teacher;
  </select>
  
  
  
  <delete id="delById" parameterType="java.lang.Integer" >
    delete from teacher where id = #{id,jdbcType=INTEGER};
  </delete>
  
  <insert id="save" parameterType="www.hw.top.pojo.Teacher" >
    insert into teacher 
    ( t_name,t_username,t_password,t_sex,t_telephone)
    values
    (#{tName,jdbcType=VARCHAR},#{tUsername,jdbcType=VARCHAR},#{tPassword,jdbcType=VARCHAR},#{tSex,jdbcType=VARCHAR},#{tTelephone,jdbcType=VARCHAR});
  </insert>
  
  <update id="editById" parameterType="www.hw.top.pojo.Teacher" >
    update teacher set  id = #{id,jdbcType=INTEGER}
     ,t_name = #{tName,jdbcType=VARCHAR} ,t_username = #{tUsername,jdbcType=VARCHAR} ,t_password = #{tPassword,jdbcType=VARCHAR} ,t_sex = #{tSex,jdbcType=VARCHAR} ,t_telephone = #{tTelephone,jdbcType=VARCHAR}
	where id = #{id,jdbcType=INTEGER};
  </update>
  
  
  
   <select id="list" resultMap="BaseResultMap" parameterType="www.hw.top.pojo.Teacher" >
    select 
    <include refid="Base_Column_List" />
    from teacher order by id desc;
  </select>
  
   <!-- 根据user_name和password查询 --> 
	 <select id="loginTeacher" resultType="www.hw.top.pojo.Teacher">
 	 select   *   from  teacher where t_username = #{tUsername,jdbcType=VARCHAR} and t_password = #{tPassword,jdbcType=VARCHAR}; 
 	</select>
 	
   <select id="pagelist" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from teacher  limit  #{pageNum},#{pageSize} order by id desc;;
  </select>
  
  
  
</mapper>